<h1>Calculate your Scrabble score</h1>
<p>Enter one word below to find out how much your play is worth<p>
<form action='/score' method='get'>
    <div class="form-group">
        <label for="userWord">Enter <b>one</b> word:</label>
        <input id="userWord" name="userWord" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-info">Calculate Score</button>

</form>
